[Unit]
Description=Fix SELinux contexts after ostree deployment
Before=basic.target
After=local-fs.target
ConditionSELinux=true

[Service]
Type=oneshot
ExecStart=/sbin/restorecon -R /usr/libexec
RemainAfterExit=yes

[Install]
WantedBy=basic.target
